{% extends "base_layout.html" %}

{% block player %}
{% if video %}
<div id="player" class="inner-block">
  <h3> This song on YouTube </h3>
  <div class="inner-block-main">
    <object width="480" height="360">
      <param name="movie" value="{{ video.swf_url }}"></param>
      <param name="wmode" value="transparent"></param>
      <embed src="{{ video.swf_url }}" type="application/x-shockwave-flash" wmode="transparent" width="480" height="360"></embed>
    </object>
    <h4> {{ video.title|outlink:video.page_url }} | {{ video.published }} </h4>
    <div class="info">
      {{ video.description|truncatewords:40 }}
    </div>
  </div>
</div>
{% endif %}
{% endblock player %}
