{% extends "base_layout.html" %}

{% block header %}
  <h1>{{ song|link_to_song:artist }}</h1>
  <h2>
    <span style="font-style: italic; font-size: 0.7em; color: #bbb;">by</span>
    {{ artist|link_to_artist }}
  </h2>
  <div id="info">
    ___ &nbsp; is {{ username|link_to_lastfm_user }}'s most recent track &nbsp; ___ <br />
  </div>
{% endblock %}

{% block related %}
{% if related_songs %}
<div id="related-songs" class="inner-block">
  <h3>Other recently listened songs</h3>
  <div class="inner-block-main">
    <ul>
      {% for song in related_songs %}
        <li>
          {{ song.name|link_to_song:song.artist }} <span class="info">by</span> {{ song.artist|link_to_artist }}
          {% if song.time %}<span class="info">, {{ song.time|timesince }} ago </span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock related %}
